@{
    ViewData["Title"] = "Creditos";
}
<br><br><br><br><h1 style="text-align: center;"><font style="color:#DDB568"><b>CRÉDITOS</b></font></h1> <br>
<p style="text-align: center;"><img id="img1" src="/Img/salas/imagen_creditos.jpg" class="img-fluid" 
style="border: 2px solid white" width="1000px" ></p>
<pre style="color:#DDB568; font-size:24px">Nosotras somos Cami y Yae
Programadoras desde el día que nacimos, especialistas en diseño y risas
</pre>