@{
    ViewData["Title"] = "Habitacion_1";
}
<br><br><br><br><h1 style="text-align: center;"><font style="color:#DDB568"><b>Habitación 1</b></font></h1>
<h2 style="text-align: center;"><font style="color:#ac9976">Fijate bien de las iniciales y escribe el respectivo código</font></h2>
<img id="img1" src="/Img/acertijos/MAPA1.jpg" class="img-fluid" 
style="border: 2px solid white">
<form action='@Url.Action("Habitacion")'>
    <label class="respuesta" for="quantity" style="color: #DDB568">Respuesta:</label>
    <input type="hidden" name="sala" value="1">
    <input type="text" id="quantity" name="clave" min="1" max="10">
    <button style="background-color:#DDB568;">Validar</button>
</form>
<button onclick="alert('Pista 1: Observá el orden de los puntos')"> Pista 1 </button>
<button onclick="alert('Pista 1: Que paises son')"> Pista 2 </button>



