@{
  ViewData["Title"] = "Index";
}
<h1 style="text-align: center;"><font style="color:#DDB568" size="300px" >- Tutorial -</font></h1>
<img id="img_final" src="/Img/carrusel/img3.jpg" class="img-fluid mt-100"  
style="border: 2px solid #DDB568">
<p class="ml-10" style="color:#DDB568; font-size=25px" >Para resolver esta sala de escape es clave leer atentamente las consignas escritas al principio de cada acertijo. En caso de que necesites ayuda, no dudes en clickear el boton de pista para poder resolverlo. Espero que te guste y te diviertas!! </p>
